$white: #ffffff;
$stratos: 0px 4px 7px 0px #0000004D;
$ebony_clay: #22263D;
$manhattan: #F4CA84;
$eminence: linear-gradient(91.43deg, #3F3F9A 16.38%, #652D91 78.44%); //
$gigas: linear-gradient(91.43deg, #652D91 16.38%, #3F3F9A 78.44%);
$gray: rgba(255, 255, 255, 0.2);
$short: .3s linear;
$main_ff: 'Play';
$main_fz: 24px;